@model AnimeRS.Core.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Profiel";
}

<div class="profile-container">
    <div class="profile-header">
        <h2>@ViewData["Title"]</h2>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-4 user-details">
            <h3>Gebruikersgegevens</h3>
            <dl>
                <dt>Gebruikersnaam</dt>
                <dd>@Model.AnimeLover.Username</dd>

                <dt>Rol</dt>
                <dd>@Model.AnimeLover.Role</dd>


            </dl>
        </div>

        <div class="col-md-8 favorite-animes">
            <h3>Favoriete Anime</h3>
            <ul>
                @foreach (var anime in Model.FavoriteAnimes)
                {
                    <li><a href="/Anime/@anime.AnimeId">@anime.AnimeTitle</a></li>
                }
            </ul>
        </div>
    </div>

    <div class="col-md-8 user-reviews">
        <h3>Uw Reviews</h3>
        <ul>
            @foreach (var review in Model.UserReviews)
            {
                <li>
                    Review voor "@review.AnimeTitle": @review.Comment
                </li>
            }
        </ul>
    </div>

    <div class="back-to-home">
        <a asp-action="Index" asp-controller="Home">Terug naar Home</a>
    </div>
</div>
